.layout-login {

  width: 100%;
  min-height: 100vh ;
  display: flex;
}

.image {
  background: url(https://firebasestorage.googleapis.com/v0/b/angular-1570688438442.appspot.com/o/martin-adams-1062002-unsplash.jpg?alt=media&token=940dbc46-b553-45ed-ac4d-337b714a6007)
    rgba(255, 255, 255, 0.3);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: lighten;
  flex: 1;
}

.sign-in {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex: 1;
}

h1 {
  font-size: 3.5rem;
  margin-bottom: 30px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}



input[type="submit"] {
  background-color: #000;
  color: #fff;
  padding: 10px;
  font-size: 1.3rem;
  cursor: pointer;
  border: none;
  transition: all 0.3s ease;
  border-radius: 15px;
}

input[type="submit"]:hover {
  background-color: #eee;
  color: #000;
}

a {
  color: #424242;
  text-decoration: none;
  align-self: flex-end;
}

a:hover {
  text-decoration: underline;
}

::selection {
  color: #fff;
  background-color: #000;
}

@media screen and (max-width: 786px) {
  .image {
    display: none;
  }
}




